.container{
    width: 35%;
    padding: 15px 10px;
    border: 1px solid darkmagenta;
    border-radius: 5px;
    margin: 0 auto;
   
}
.user{
    width: 100%;
    height: 100px;
    border: 1px solid salmon;
    border-radius: 4px;
    margin-bottom:10px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;/*кнопка закрыть относительно карточки*/

}
.user:last-child{  /*обращение к последнему окну user( карточки) изменение последнего отступа */
  margin-bottom: 0px;
}
.user-logo{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 20px;   
}
.user-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 50%;
    margin-right: 40px;

}
.user-name{
    font-weight: bold;
    font-size: 22px;

}
.user-age{
    color: crimson;
}
.close{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
}

/*        */
.add{
    width: 20%;
    padding: 15px 10px;
    border: 1px solid darkmagenta;
    border-radius: 5px;
    margin: 0 auto;
   margin-bottom: 15px;
}
.add-field{
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blue;

}
.add-field:last-child{
    margin-bottom: 0;
}